<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis核心配置文件(配置mybatis基础信息:例如连接,映射文件) -->
<configuration>

	<!-- 配置初始化环境(连接) -->
	<properties resource="config.properties" />
	
	 <settings>
	 <!-- 启用log4j的配置,启用日志 -->
     	<setting name="logImpl" value="log4j"/>
     <!-- 设置一级缓存value值由SESSION和STATEMENT两种状态 -->
     	<setting name="localCacheScope" value="SESSION"/>
     <!-- 设置二级缓存 -->
     	<setting name="cacheEnabled" value="true"/>
     	
     <!-- 设置延迟加载 属于全局设置,需要配合下面一起实现-->
     	<setting name="lazyLoadingEnabled" value="True"/>
   	 <!-- 设置按需加载(配合上面的延迟加载属性实现) -->
     	<setting name="aggressiveLazyLoading" value="false"/>
 	 </settings>
  
	<!-- 别名配置 -->
	<typeAliases>
	<!-- 为指定包中的所有类创建别名,别名默认为类名,首字母小写 -->
		<package name="com.jt.entity"/>
		<package name="com.jt.vo"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 配置mapper文件路径 -->
	<mappers>
		<mapper resource="mapper/BlogMapper.xml" />
		<mapper resource="mapper/AuthorMapper.xml" />
		
	</mappers>


</configuration>
